@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: "Lobster Two", Arial, Helvetica, sans-serif;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color, rgb(139, 154, 236));
}

.title {
    margin-bottom: 3rem;
    font-weight: bold;
}

.box {
    width: 150px;
    height: 150px;
    margin: 25px;
    background-color: var(--box-color, #5800ca);
    box-shadow: calc(var(--x-position, 4) * 1px)
        calc(var(--y-position, 4) * 1px) calc(var(--blur, 4) * 1px)
        calc(var(--spread, 10) * 1px) var(--shadow-color, #6b4bdd);
}

#text {
    margin-top: 10rem;
}

.sidebar {
    min-width: 150px;
    width: 20%;
    background-color: rgb(115, 134, 238);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.sidebar label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.divider {
    margin: 1rem -1rem 0.4rem -1rem;
    border-bottom: 1px solid rgb(216, 118, 118);
}

input:not([type="color"]) {
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    outline: thin;
}

input:not([type="color"]):focus {
    border: 1.5px solid rgb(0, 238, 255);
}

input[type="color"] {
    width: 100%;
    border-radius: 0.3em;
    margin: 0 auto;
    cursor: pointer;
}
